@import url(https://fonts.googleapis.com/css2?family=Space+Mono);

:root {
  --primary: hsl(172, 67%, 45%);

  --neutral-100: hsl(183, 100%, 15%);
  --neutral-80: hsl(186, 14%, 43%);
  --neutral-50: hsl(184, 14%, 56%);
  --neutral-30: hsl(185, 41%, 84%);
  --neutral-10: hsl(189, 41%, 97%);
  --neutral-00: hsl(0, 0%, 100%);

  --font-size: 1rem;

  --font-family: "Space Mono";

  --weight-light: 400;
  --weight-medium: 500;
  --weight-heavy: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  margin: 0 auto;
  background-color: var(--neutral-30);
  display: flex;
  flex-direction: column;
}

.app-logo {
  margin: 0;
  align-self: center;
  padding: 2rem;
}

.app-form-container {
  background-color: var(--neutral-00);
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem 1rem 0 1rem;
}

.app-form {
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--weight-light);
  color: var(--neutral-80);
}

.app-form .bill-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bill-container > input {
  border: none;
  background-color: var(--neutral-10);
  height: 2.5rem;
  text-align: right;
  font-family: var(--font-family);
  color: var(--neutral-100);
  font-weight: var(--weight-heavy);
  padding-right: 1rem;
  border-radius: 0.25rem;
}

/* REMOVE ARROWS FROM INPUT[TYPE="NUMBER"] */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bill-container > svg {
  position: absolute;
  top: 2.25rem;
  left: 0.75rem;
}

.app-form > input {
}

.tip-button-group {
  border: 2px solid green;
}

.amount-total-container {
  background-color: var(--neutral-100);
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.amount-total-container .reset-button {
  border: none;
  background-color: var(--neutral-30);
  padding: 0.25rem 2rem 0.25rem 2rem;
  border-radius: 0.25rem;
  width: 100%;
}

/* Footer Class */
.attribution {
  font-size: 0.688rem;
  text-align: center;
  border: 2px solid yellow;
}

.attribution a {
  color: var(--primary);
}
